.container{
    //background-color: aqua;
    height: 100%;


}

.containerTop{
    height: 10%;
    display: flex;
    align-items: center;
    //background-color: rgb(58, 160, 160);

    h1{
        font-size: 25px;
    }
}

.containerData{
    height: 90%;
    //background-color: rgb(198, 211, 24);
}
