.container{
    width: 400px;
    height: 230px;
    padding: 15px;
    border-radius: 10px;
    background-color: #606468;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .containerTop{
        display: flex;
        justify-content: space-between;
    }

    .containerBottom{
        display: flex;
        justify-content: space-between;
        

        .containerInfo{
            width: 60%;

            .containerInfoTop{
                display: flex;
                justify-content: space-between;

                .containerData{
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                }
            }

            .containerCardNumber{
                font-size: 20px;
            }
        }

        .containerType{
            display: flex;
            //align-items: end;
        }
               
    }
}