.container{
    width: 100px;
    height: 240px;
    padding: 15px;
    border-radius: 10px;
    //background-color: #222C37;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width:1500px) {
        width: 400px;
    }

    @media (min-width:1000px) and (max-width:1500px){
        width: 330px;
        height: 200px;

        
    }

    .containerTop{
        display: flex;
        justify-content: space-between;
    }

    .containerBottom{
        display: flex;
        justify-content: space-between;
        

        .containerInfo{
            width: 70%;

            .containerInfoTop{
                display: flex;
                justify-content: space-between;

                .containerData{
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                }
            }

            .containerCardNumber{
                width: 100%;
                font-size: 20px;
                align-items: center;
                display: flex;
                justify-content: space-between;

                @media (min-width:1000px) and (max-width:1500px){
                    font-size: 15px;
                }
            }
        }

        .containerType{
            display: flex;
            //align-items: end;
        }
               
    }
}