.container{
    width: 100%;
    height: 100%;
    background-color: rgb(193, 183, 169);
    display: flex;
    align-items: center;

    .containerChart{
        width: 50%;
        height: 100%;
        position: relative;
        background-color: rgb(140, 0, 56);
    }

    .chart{
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}