.container{
    height: 100%;
    display: flex;
    flex-direction: column;

    
    
    .containerMain{
        flex: 1 0 auto;
        
    }


    .containerBottom{
       
    }
   
}