.container{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    padding: 1.5rem;
    border: 1.5px solid #E5E7EB;
    border-radius: 15px;

    
    @media (max-width:1056px) {
        grid-template-columns: repeat(4, 1fr);
    }
}