.container{
    width: 100%;
    height: 100%;
    //background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.containerLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //background-color: brown;

    .containerChart{
        height: 57%;
        width: 100%;
        //background-color: blue;
    }
    
    .containerBottom{
        height: 40%;
        //background-color:rgb(0, 158, 82);
    }
}

.containerRight{
    width: 48%;
    height: 100%;
    //background-color: rgb(153, 116, 90);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .containerTop{
        height: 37%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem  1.5rem 1.5rem 1.5rem;
        border: 1.5px solid #E5E7EB;
        border-radius: 15px;

    }

    .containerBottom{
        height: 60%;
        width: 100%;
        
    }
}

